.hint,
[data-hint] {
    position: relative;
    display: inline-block
}
.hint:before,
.hint:after,
[data-hint]:before,
[data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms
}
.hint--bottom:hover, .hint--bottom.hovered:before,
.hint--bottom:hover, .hint--bottom.hovered:after,
.hint:focus:before,
.hint:focus:after,
[data-hint]:hover:before,
[data-hint]:hover:after,
[data-hint]:focus:before,
[data-hint]:focus:after {
    visibility: visible;
    opacity: 1
}
.hint--bottom:hover, .hint--bottom.hovered:before,
.hint--bottom:hover, .hint--bottom.hovered:after,
[data-hint]:hover:before,
[data-hint]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms
}
.hint:before,
[data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001
}
.hint:after,
[data-hint]:after {
    content: attr(data-hint);
    background: #eee;
    color: #333;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap
}
.hint--top:before {
    border-top-color: #eee
}
.hint--bottom:before {
    border-bottom-color: #eee
}
.hint--left:before {
    border-left-color: #eee
}
.hint--right:before {
    border-right-color: #eee
}
.hint--top:before {
    margin-bottom: -12px
}
.hint--top:after {
    margin-left: -18px
}
.hint--top:before,
.hint--top:after {
    bottom: 100%;
    left: 50%
}
.hint--top:hover:after,
.hint--top:hover:before,
.hint--top:focus:after,
.hint--top:focus:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px)
}
.hint--bottom:before {
    margin-top: -12px
}
.hint--bottom:after {
    margin-left: -18px
}
.hint--bottom:before,
.hint--bottom:after {
    top: 100%;
    left: 50%
}
.hint--bottom:hover:after,
.hint--bottom:hover:before,
.hint--bottom:focus:after,
.hint--bottom:focus:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px)
}
.hint--right:before {
    margin-left: -12px;
    margin-bottom: -6px
}
.hint--right:after {
    margin-bottom: -14px
}
.hint--right:before,
.hint--right:after {
    left: 100%;
    bottom: 50%
}
.hint--right:hover:after,
.hint--right:hover:before,
.hint--right:focus:after,
.hint--right:focus:before {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px)
}
.hint--left:before {
    margin-right: -12px;
    margin-bottom: -6px
}
.hint--left:after {
    margin-bottom: -14px
}
.hint--left:before,
.hint--left:after {
    right: 100%;
    bottom: 50%
}
.hint--left:hover:after,
.hint--left:hover:before,
.hint--left:focus:after,
.hint--left:focus:before {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px)
}
.hint,
[data-hint] {}.hint:after,
[data-hint]:after {
    text-shadow: 0 -1px 0 #000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3)
}
.hint--error:after {
    background-color: #b34e4d;
    text-shadow: 0 -1px 0 #592726
}
.hint--error.hint--top:before {
    border-top-color: #b34e4d
}
.hint--error.hint--bottom:before {
    border-bottom-color: #b34e4d
}
.hint--error.hint--left:before {
    border-left-color: #b34e4d
}
.hint--error.hint--right:before {
    border-right-color: #b34e4d
}
.hint--warning:after {
    background-color: #c09854;
    text-shadow: 0 -1px 0 #6c5328
}
.hint--warning.hint--top:before {
    border-top-color: #c09854
}
.hint--warning.hint--bottom:before {
    border-bottom-color: #c09854
}
.hint--warning.hint--left:before {
    border-left-color: #c09854
}
.hint--warning.hint--right:before {
    border-right-color: #c09854
}
.hint--info:after {
    background-color: #3986ac;
    text-shadow: 0 -1px 0 #193b4d
}
.hint--info.hint--top:before {
    border-top-color: #3986ac
}
.hint--info.hint--bottom:before {
    border-bottom-color: #3986ac
}
.hint--info.hint--left:before {
    border-left-color: #3986ac
}
.hint--info.hint--right:before {
    border-right-color: #3986ac
}
.hint--success:after {
    background-color: #458746;
    text-shadow: 0 -1px 0 #1a321a
}
.hint--success.hint--top:before {
    border-top-color: #458746
}
.hint--success.hint--bottom:before {
    border-bottom-color: #458746
}
.hint--success.hint--left:before {
    border-left-color: #458746
}
.hint--success.hint--right:before {
    border-right-color: #458746
}
.hint--always:after,
.hint--always:before {
    opacity: 1;
    visibility: visible
}
.hint--always.hint--top:after,
.hint--always.hint--top:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px)
}
.hint--always.hint--bottom:after,
.hint--always.hint--bottom:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px)
}
.hint--always.hint--left:after,
.hint--always.hint--left:before {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px)
}
.hint--always.hint--right:after,
.hint--always.hint--right:before {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px)
}
.hint--rounded:after {
    border-radius: 4px
}
.hint--no-animate:before,
.hint--no-animate:after {
    -webkit-transition-duration: 0ms;
    -moz-transition-duration: 0ms;
    transition-duration: 0ms
}
.hint--bounce:before,
.hint--bounce:after {
    -webkit-transition: opacity .3s ease, visibility .3s ease, -webkit-transform .3s cubic-bezier(0.71, 1.7, .77, 1.24);
    -moz-transition: opacity .3s ease, visibility .3s ease, -moz-transform .3s cubic-bezier(0.71, 1.7, .77, 1.24);
    transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(0.71, 1.7, .77, 1.24)
}


.navbar
{
	margin-bottom: 10px;
}
.banner-item img
{
	width: 500px;
	height: 500px;
	position: relative;
	z-index: 9;
	background-image: url('../images/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
}
#team-section h1:hover
{
	opacity: 1;
}
#team-section h1
{
	font-size: 40pt;
	opacity: 0.7;
	margin: auto auto;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	cursor: default;
}
#stats-section div:hover
{
	margin-top: -20px;
}
#stats-section div
{
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
}

#stats-section
{
	text-align: center;
	margin-top: 40px;
}
#team-container
{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
#team-section
{
	background-image: url('../images/team_bg.jpg');
	background-repeat: repeat-x;
	background-color: #fff;
	height: 400px;
	margin-top: 50px;
	text-align: center;
	display: table;
	width: 100%;
}
#carousel-title
{
	font-family: gess_omer;
	font-size: 40pt;
	width: 100%;
	text-align: center;
}
.banner-item:hover
{
	opacity: 1;
}
#fb-like-btn
{
	margin: 20px 0px 20px 0px;
}
.article-container
{
	background-color:#fff;
	margin-bottom: -100px;
	margin-top: -20px;
	padding-top: 40px; 
}
.banner-item
{
	display: inline-block;
	width: 500px;
	height: 500px;
	background: #000;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	opacity: 0.8;
	cursor: pointer;
}	
#overflower
{
	display:none;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;
	-moz-transition:all 1s ease;
}
#left-arrow
{
	
}	
#almashy
{
	padding: 30px 0px 30px 0px;
	text-align: center;
	background-color: #333;
	color: #fff;
	margin-top: 40px;
	display: table;
	width: 100%;
}
#carousel-section
{
	text-align: center;
	margin-top: 30px;
	display: none;
}
#carousel-div
{
	overflow: hidden;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;
	-moz-transition:all 1s ease;
	display: inline-block;
}
#browse-section div
{
	vertical-align: middle;
}
#browse-section
{
	text-align: center;
	display: table;
	width: 100%;
	padding: 90px 10px 20px 10px;
}
.gsc-input
{
	padding: -2px 0px!important;	
}
.gsc-control-cse
{
	background:inherit!important;
	border-color:inherit!important;
	border-style: hidden!important;
	padding: 0px!important;
}
.gsc-input input
{
	margin-top: -3px!important;
}

.gsc-input [type="image"]
{
	margin-top: -30px!important;
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    background-image: url("http://www.google.com/uds/css/v2/search_box_icon.png") !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 26px !important;
    filter: none;
}
.news-body ul li
{
	padding: 5px;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
}
#stretcher
{
	background: #eee;
	text-align: center;
}
.news-body ul
{
	list-style:none;
	padding: 0px;
	font-family: newo;
	font-size: 13pt;
}
.news-body
{
	background: #eee;
}
.most-read-table:hover .most-read-tr
{
	-ms-transform: scale(1.02,1.02);
	-webkit-transform: scale(1.02,1.02);
	transform: scale(1.02,1.02);
}
.most-read-table
{
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
}
.most-read-tr
{
	height: 100%;
	width: 100%;
	display: table-row;
	margin: 0 auto;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
}
.most-read-td
{
	display: table-cell; height: 100%; vertical-align: middle;
	width: 100%;
	text-align: center;
}
@font-face {
    font-family: "newo";
        src: url("HelveticaNeueW23-Reg/HelveticaNeueW23-Reg.eot");
        src: url("HelveticaNeueW23-Reg/HelveticaNeueW23-Reg.eot?") format("eot"),
             url("HelveticaNeueW23-Reg/HelveticaNeueW23-Reg.ttf") format("truetype"),
			 url("HelveticaNeueW23-Reg/HelveticaNeueW23-Reg.svg#newo") format('svg'),
			 url("HelveticaNeueW23-Reg/HelveticaNeueW23-Reg.woff") format('woff');
}
@font-face{font-family:'dax_omer';src:url('dax/dax.eot');src:url('dax/dax.eot?#iefix') format('embedded-opentype'),url('dax/dax.woff') format('woff'),url('dax/dax.ttf') format('truetype'),url('dax/dax.svg#gess_omer') format('svg');}
@font-face {
    font-family: 'gess_omer'; 
    src: url('gess/ge_dinar_two_medium.eot');
   	src: url('gess/ge_dinar_two_medium.eot?#iefix') format('embedded-opentype'),
         url('gess/ge_dinar_two_medium.woff') format('woff'),
         url('gess/ge_dinar_two_medium.ttf') format('truetype'),
         url('gess/ge_dinar_two_medium.svg#gess_omer') format('svg');
}
@font-face {
    font-family: 'dax_omer';
    src: url('dax/dax.eot');
   	src: url('dax/dax.eot?#iefix') format('embedded-opentype'),
         url('dax/dax.woff') format('woff'),
         url('dax/dax.ttf') format('truetype'),
         url('dax/dax.svg#gess_omer') format('svg');
}
#color-switch-navbar { 
	background-color: #000;
	height: auto;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}
a
{
	text-decoration: none!important;
}
body h3, h2, h1
{
	font-family: gess_omer;
}

body h4
{
	font-family: gess_omer;
}
.contact-us-answer
{
	font-family: newo;
	font-size: 16pt;
	display: none;
	margin-top: 10px;
}
.contact-us-portion h3
{
	cursor: pointer;
}
.contact-us-portion
{
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	background: #eee;
	margin-bottom: 30px;
}

.admins-pictures
{
	display: inline-block;
}
.subcat-details-text
{
	margin: 3%;
	display: inline-block;
}
#related-holder p
{
	cursor: pointer; font-family: newo; align: left; margin-top: 5px; margin-left: 50px; font-size: 10pt; float: left
}
#related-holder
{
	width: 100%; margin-top: 10px; text-align: center
}
#footer-links
{
	list-style: none;
	padding: 0px;
}
.stay-wth-us-div
{
	text-align: center;
	margin-bottom: 50px;
}
.stay-wth-us
{
	display: inline-block;
	width: 100px;
	height: 100px;
	vertical-align: top;
}
#related-articles
{
	width: 100%;
	background: #eee;
	display:none;
}
.related-c-item:hover
{
	color: #999;
}
.number
{
	font-family: dax_omer;
}
.related-c-item img
{
	width: 200px;
	height: 200px;
	background: #333;
	background-image: url('../images/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid #999;
}
.related-c-item
{
	display: inline-block;
	text-align: center;
	width: 200px;
	cursor: pointer;
	margin: 5px 10px 15px 10px;
	vertical-align: top;
}
.subcat-details
{
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 1px;
	text-align: center;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(252,252,252,1) 50%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(50%,rgba(252,252,252,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(252,252,252,1) 50%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(252,252,252,1) 50%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(252,252,252,1) 50%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(252,252,252,1) 50%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}
.most-read-row
{
	display: table-row;
}
.most-read-cell
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.most-read-body
{
	height: 200px;
	width: 100%;
	background: #fff;
	margin: 0px 0px 0px 0px;
	display: table;
	cursor: pointer;
}
#youtube-channel h3
{
	margin-bottom: 10px;
}
#youtube-channel
{
	text-align: center;
	background: #eee;
	padding: 10px 0px 10px 0px;
	margin: 20px 0px 10px 0px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.most-read-title
{
	background: rgb(7,169,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(7,169,244,1) 0%, rgba(28,174,237,1) 39%, rgba(0,167,239,1) 41%, rgba(7,169,244,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,169,244,1)), color-stop(39%,rgba(28,174,237,1)), color-stop(41%,rgba(0,167,239,1)), color-stop(100%,rgba(7,169,244,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(7,169,244,1) 0%,rgba(28,174,237,1) 39%,rgba(0,167,239,1) 41%,rgba(7,169,244,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(7,169,244,1) 0%,rgba(28,174,237,1) 39%,rgba(0,167,239,1) 41%,rgba(7,169,244,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(7,169,244,1) 0%,rgba(28,174,237,1) 39%,rgba(0,167,239,1) 41%,rgba(7,169,244,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(7,169,244,1) 0%,rgba(28,174,237,1) 39%,rgba(0,167,239,1) 41%,rgba(7,169,244,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07a9f4', endColorstr='#07a9f4',GradientType=0 ); /* IE6-9 */

	padding: 4px;
	text-align: center;
	color: #fff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
article h1
{
	font-family: gess_omer;
	font-size: 3em;
}
.cat-name
{
	font-family: gess_omer;
	color: rgb(0,160,255);
	margin-bottom: 40px;
}	
.element-image-holder
{
	width: 250px;
	height: 250px; 
	background-size: cover;           
    background-repeat: no-repeat;
    background-position: center top;
}
.element:hover
{
	opacity: 1;
}
.element
{	
	display: inline-block;
	border: 1px solid #444; width: 250px; height: 250px;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;	
	overflow: hidden;
	margin: 5px;
}
.element-text-shade h3
{
	font-size: 18pt;
	line-height: 35px;
	color: #07a9f4;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	margin: 5px;
	position: relative;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
}
.subcat-managers
{
	border-right: 1px solid #ddd;
}
.cat-admin-pic
{
	margin: 10px;
	display: inline-block;
	width: 80px;
	height: 80px;
}
.element-cell
{
	display: table-cell;
	vertical-align: middle;	
	text-align: center;
}
.element-stats-strip p
{
	display: inline-block;
	line-height: 20px;
	margin: 2px;	
}
.element-stats-strip
{
	float: left; color: #fff; margin-bottom: -30px; height: 30px; position: relative; z-index: 2;
	direction: ltr;
}
.element-row
{
	display: table-row;
	width: 100%;
}
.element-text-shade
{
	display: table;
	position: relative; 
	z-index: 1;
	width: 100%; height: 100%;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	background: #000;
	opacity: 0.9
}
.element-text-shade:hover
{
	opacity: 0
}

.btn-fb
{
	background-color: #3b5999;
	color: #fff
}
main
{
	font-family: newo;
	font-size: 1.3em;
	line-height: 1.8em;
}
h3 
{
	margin-top: 0px;
	margin-bottom: 0px;
}
.user-profile ul
{
	list-style-type: none;
	padding: 0px;
}
.user-profile ul li
{
    border-style: 1px solid;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    margin: 10px;
}
.profile 
{
    min-height: 355px;
    display: inline-block;
    font-family: newo;
}
.user-profile
 {
	font-family: newo;
}
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}
    
.navbar-brand {
	padding: 0px;
}
.vcenter {
  position: relative;
  margin-top: 50px;
  font-size: 15pt;
  color:#FFF;
  height: 30px;
  float: right;
  font-family: gess_omer;
}
#loading-div
{
	width: 0px;
	position: fixed;
	background-color: red;
	height: 5px;
	top: 0px;
	right: 0px;
	z-index: 1000;
}
#close-button:hover
{
	background: #07a9f4
}
.article_text
{
	font-family: newo;
	font-size: 13pt;
	color: #333;
}
#quality-div
{
	display: none;
}
.share-buttons *
{
	margin: 0px;
}
.share-buttons-div
{
	width: 220px;
	float: right;
	margin: 0px 0px 10px 10px;
	text-align: right;	
}
.signatures-buttons-div
{
	width: 100%;
	max-width: 600px;
	display:inline-block;
	margin: 0px 0px 10px 10px;
}
.rating-stars-div h3
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.rating-stars-div
{
	width: 100%;
	max-width: 445px;
	display:inline-block;
	margin: 0px 0px 10px 10px;
}

#rating-button
{
	display: none;
}
.rating-label
{
	width: 100px;
	display: inline-block;
}
.rating {
	unicode-bidi: bidi-override;
	direction: ltr;
	display: inline-block;
	font-size: 20pt;
}
.rating > span {
	display: inline-block;
	position: relative;
	width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}






.quality-buttons-div
{
	width: 100%;
	display:inline-block;
	margin: 0px 0px 10px 10px;
}
.share-buttons:hover
{
	background-color: #333;
}
.share-buttons
{
	color: #fff; padding: 1px 10px 1px 1px;
	margin: 2px 2px 0px 0px;
	-webkit-transition:all 0.2s ease;
	transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;	
	cursor: pointer;
	vertical-align: top
}
#menu-list a
{
	color: #fff;
	text-decoration: none;
}
#menu-list
{
	margin-bottom: 0px;
}
.infograph-img
{
	max-width: 100%;
}
.infograph
{
	width: 100%;
	display: block;
	margin-bottom: 50px;
}
footer
{
	width: 100%;
	background: #1a1a1a;
	font-family: gess_omer;
	color: #fff;
	margin-top: 100px;
	padding-top: 20px;
}
#comments-section
{
	width: 100%;
	font-family: newo;
}
.fb-comments
{
	width: 100%;
}
#footer-signature
{
	width: 100%; text-align: center; font-family: newo; font-size: 9pt; color: #666;	
}

#cats-loading-div
{
	margin-top: 20px;
	font-family: newo;
	display: block
}
.details-buttons
{
	color: #555; padding: 1px 10px 1px 1px;
	margin: 2px 2px 0px 0px;
	line-height: 48px;
	font-size: 22px;
	font-family: newo
}
.share-buttons-title
{
	font-family: gess_omer; width: 218px; background: #07a9f4;
	color: #fff; padding: 1px 10px 1px 1px;
	margin: 2px 2px 0px 0px;
	cursor: default;
	display: block;
}
.signatures-buttons-title
{
	font-family: gess_omer; width: 100%; background: #07a9f4;
	color: #fff; padding: 1px 10px 1px 1px;
	margin: 2px 2px 0px 0px;
	cursor: default;
}
.share-buttons-gplus
{
	width: 50px; background: #dd4b39; display: inline-block;
}
.share-buttons-fb
{
	width: 114px; background: #3b5999; display: inline-block;
}
.share-buttons-wa
{
	width: 50px; background: #2ab200; display: inline-block;
	height: 50px;
	display: none;
	padding: 3px!important;
}
.share-buttons-pdf
{
        width: 50px; background: #f21111; display: inline-block;
        height: 50px;
        padding: 3px!important;
}

.share-buttons-pin
{
	width: 50px; background: #cc2127; display: inline-block;
}
#pocket-iframe
{
	margin-top: 10px;
}
body
{
	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(255,255,255,1) 47%, rgba(224,224,224,1) 100%, rgba(232,232,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(47%,rgba(255,255,255,1)), color-stop(100%,rgba(224,224,224,1)), color-stop(100%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 47%,rgba(224,224,224,1) 100%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 47%,rgba(224,224,224,1) 100%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 47%,rgba(224,224,224,1) 100%,rgba(232,232,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 47%,rgba(224,224,224,1) 100%,rgba(232,232,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}
.share-buttons-pocket:hover #pocket-scrollable
{
	margin-top: -45px;
}
#facebook-plugin
{
	background: #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	padding: 5px;
}
.article-text
{
	text-align: justify;
}
.container-fluid
{
	margin: 0px 5% 0px 5%;
}
.menu-container-fluid
{
	margin: 0px 1% 0px 1%;
}
.share-buttons-pocket
{
	width: 114px; background: #ed4055; display: inline-block;
	height: 50px; overflow: hidden;
}
.share-buttons-twitter
{
	width: 50px; background: #5ea9dd; display: inline-block;
}
.details-buttons-date
{
	width: 218px; background: #eee ; display: inline-block; 
}
.social a
{
	color: #FFF;
}
.details-buttons-signature
{
	width: 100%; background: #eee; display: inline-block; font-size: 13pt; line-height: 30px; 
}
.details-buttons-views
{
	width: 106px; background: #eee; display: inline-block; 
}
.details-buttons-original-post a
{
	color: #Fff;
}
.details-buttons-original-post
{
	width: 110px; background: #3b5999; display: inline-block;  color: #fff; font-size: 15pt; font-family: gess_omer;line-height: 48px;
}
.share-buttons-title h3
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.signatures-buttons-div h3
{
	margin-top: 10px;
	margin-bottom: 10px;
}
#close-button
{
	background: #000;
	border: 2px solid #fff;
	width: 20px;
	height: 20px;
	font-size: 12px;
	left: 10px;
	position: absolute;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}
#edit-div sup{color:red;font-family:Tahoma;font-size:6pt;}
#edit-div{display:none;position:fixed;top:200px;left:0px;width:140px;height:70px;background-color:#fff;color:#555;-webkit-box-shadow:6px 3px 22px -6px rgba(0,0,0,0.75);-moz-box-shadow:6px 3px 22px -6px rgba(0,0,0,0.75);box-shadow:6px 3px 22px -6px rgba(0,0,0,0.75);cursor:pointer;text-align:center;font-size:19pt;line-height:65px;}
#edit-div:hover{background-color:#eee;}

#edit-main-div
{
	display:none;
}
#notes_input
{
	width: 100%;
}
#edit_title
{
	width: 100%;
}
#article-img
{
    background-size: cover;           
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ddd;
}	
.article-img
{
	margin: 0px 40px 20px 0px ; width: 100%; max-width: 600px; float: left;
}
.cat-item h4
{
	font-size: 13pt;
	font-family: newo;
	padding: 0;
	list-style-type: none;
	margin: 0px;
	color: #07a9f4;
}
.subcats-ul li a:hover
{
	color: #07a9f4!important;
}
.subcats-ul li
{
	margin: 2px;
	cursor: pointer;
}
.subcats-ul
{
	font-size: 11pt;
	font-family: newo;
	list-style-type: none;
	padding: 0px;
}
.cat-item a
{
	color: #fff;
}
.cat-item 
{
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    padding: 10px;
    
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: left;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
#cats-menu
{
	min-height: 100vh;
	display:none
}
.social
{
	float: left;
	color: #FFF;
}
#logo-img
{
	width: 421px;
}
#collapse-menu-btn
{
	color: #FFF;
	background-color: #444;
	width: 100%;
	font-size: 20px;
	display:none;
	padding: 10px;
	text-align: center;
	cursor:pointer;
}
#menu-bar ul li
	{
		display: inline-block;
		height: 50px;
		padding: 10px;
		color: #FFF;
		font-size: 13pt;
		font-family: gess_omer;
		border-right-width: 0px;
		border-bottom-width: 1px;
		border-top-width: 0px;
		border-left-width: 1px;
	    border-left-style: solid;
	    -webkit-border-image: 
		 -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(rgba(0, 0, 0, 0))) 1 100%;
	    -webkit-border-image: 
		 -webkit-linear-gradient(#666, rgba(0, 0, 0, 0)) 1 100%;
	    -moz-border-image:
		 -moz-linear-gradient(#666, rgba(0, 0, 0, 0)) 1 100%;    
	    -o-border-image:
		 -o-linear-gradient(#666, rgba(0, 0, 0, 0)) 1 100%;
	    border-image:
		 linear-gradient(to bottom, #666, rgba(0, 0, 0, 0)) 1 100%;
		 cursor: pointer;
	}
#menu-bar ul li:hover
{
	background-color: #222;
}
#menu-big-container
{
	background: #2b2b2b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b2b2b 1%, #1c1c1c 29%, #1c1c1c 69%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2b2b2b), color-stop(29%,#1c1c1c), color-stop(69%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b2b2b 1%,#1c1c1c 29%,#1c1c1c 69%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b2b2b 1%,#1c1c1c 29%,#1c1c1c 69%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b2b2b 1%,#1c1c1c 29%,#1c1c1c 69%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2b2b2b 1%,#1c1c1c 29%,#1c1c1c 69%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#131313',GradientType=0 ); /* IE6-9 */	
}
@media all and (min-width: 1000px)
{
.fixed-navbar
{
        position: fixed;
        display: inline-block;
        width: 100%;
        top: 0px;
        -webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
}

}
@media all and (min-width: 1300px) and (max-width: 5000px) {
	.masonry
	{ 
		margin-top: 10px;
	    -moz-column-count: 8;
	    -webkit-column-count: 8;
	    column-count: 8;
	    -moz-column-gap: 1em;
	    -webkit-column-gap: 1em;
	    column-gap: 1em;
	}	
}
@media all and (max-width: 1300px) and (min-width: 1200px){
	.masonry
	{ 
		margin-top: 10px;
	    -moz-column-count: 5;
	    -webkit-column-count: 5;
	    column-count: 5;
	    -moz-column-gap: 1em;
	    -webkit-column-gap: 1em;
	    column-gap: 1em;
	}	
}
@media all and (max-width: 1199px)  and (min-width: 700px)
{
	.article-img
	{
		 max-width:100%;
	}
	.masonry
	{ 
		margin-top: 10px;
	    -moz-column-count: 4;
	    -webkit-column-count: 4;
	    column-count: 4;
	    -moz-column-gap: 1em;
	    -webkit-column-gap: 1em;
	    column-gap: 1em;
	}
}
@media all and (max-width: 700px){
	#menu-bar ul
	{
		color: #FFF;
		cursor: pointer;
		font-size: 13pt;
		font-family: newo;
		padding: 5px;
		list-style-type: none;
	}
	#menu-bar ul li
	{
		color: #FFF;
		cursor: pointer;
		font-size: 13pt;
		font-family: newo;
	}
	.masonry
	{ 
		margin-top: 10px;
	    -moz-column-count: 2;
	    -webkit-column-count: 2;
	    column-count: 2;
	    -moz-column-gap: 1em;
	    -webkit-column-gap: 1em;
	    column-gap: 1em;
	}
	#collapse-menu-btn
	{
		display: block;
	}
	#menu-bar
	{
		display:none;
	}
	#menu-bar ul li
	{
		width: 100%
	}
	#menu-big-bar
	{
		width: 100%!important;
		padding:0px;
	}
}
@media all and (max-width: 995px){
 .vcenter {

    display:none;
  }
  .social span
  {
  	font-size: 14pt;  
  }
  #logo-img
  {
  	width: 220px;
  }
}
