<div class="container">
<main class='article_text'>

				<p dir="RTL">
				<p>يمكنك الاستماع لتوصيف المبادرة عوضاً عن القراءة هنا:
				<br />
					<audio style="width: 100%; max-width: 500px; height:50px" src="../about_audio/ar.mp3" controls></audio>
					<br>
					<small>بصوت:<a style="color: blue" href="http://www.syr-res.com/user/351.html" target="_blank"> زياد الحجار</a></small>
				</p>
    “الباحثون السوريون” مبادرة سورية المبدأ، متوجهة للفرد والمجتمع السوري بشكل خاص، والمجتمع العربي بشكل عام. أطلقت بالتعاون بين مجموعة من الشباب والشابات
    السوريين في سورية والخارج لنشر العلم. وانطلاقاً من الإيمان بأن الترجمة هي الحركة الأولى في أي نهضة علمية، يعمل الفريق على ترجمة الأبحاث والدراسات والمقالات
    العلمية العالمية إلى العربية لتقديمها للقارئ العربي بمختلف الأشكال المقروءة والمسموعة والمرئية. وموقنين بأن “العلم هو الحل” يعمل الفريق على نشر الوعي
    العلمية كخطوة أولى لرفع المستوى الأكاديمي والعلمي للمجتمع السوري خصوصاً والعربي عموماً.
</p>
<p dir="RTL">
    ينقسم عمل المتطوعين الى قسمين: الترجمة ونشر البحوث العلمية، فمن المتطوعين من يعمل في ترجمة الدراسات والبحوث العلمية القديمة منها والجديدة وكذلك ترجمة
    الابتكارات والإبداعات الإنسانية انطلاقاً من إيمانهم بأنّ حركة الترجمة هي جزء أساسي وعامل هام في نهوض المجتمع وتطوره. أما القسم الآخر من الشبّان والشابات
    المتطوعين فإنهم يعملون على نشر يحوث علمية وفكرية يبدع فيها فريق "الباحثون السوريون".
</p>
<p dir="RTL">
    هذا الفريق المؤلف من مجموعة من المبدعين والباحثين، حملة الشهادة الجامعية وشهادة الدراسات العليا، والشباب الجامعي الواعد من كل من فرعيه الأدبي والعلمي
    والمنتشرين في كل أنحاء العالم من اليابان إلى الولايات المتحدة.
</p>
<p dir="RTL">
    <strong>- مؤسس المبادرة:</strong>
</p>
<p dir="RTL">
    الدكتور مهند ملك، سوري حاصل على شهادة الدكتوراه بعلم الخلية والسرطان من جامعة ليون بفرنسا، يعمل حالياً كباحث مساعد في جامعة كامبريدج في مجال علم الاشارة
    والدسم الخلوية.
</p>
<p dir="RTL">





<p dir="RTL">
    <strong>- فريق المبادرة:</strong>
</p>
<p dir="RTL">
    تضم المبادرة 20 مجموعة إدارية وتخصصية هي:
</p>
<p dir="RTL">
    الفرق العلمية:
</p>
<p dir="RTL">
    · البيولوجيا: بإشراف <a href="http://www.syr-res.com/user/158.html">نور دوبا</a> و <a href="http://www.syr-res.com/user/69.html">وشادي همبو</a>.
</p>
<p dir="RTL">
· الطب: بإشراف <a href="http://www.syr-res.com/user/36.html" target="_blank">ربا خضر</a> و    <a href="http://www.syr-res.com/user/170.html" target="_blank">بشار الضامن</a>.
</p>
<ul>
    <li dir="RTL">
        الغذاء والتغذية: بإشراف <a href="http://www.syr-res.com/user/235.html">نغم وسوف</a>.
    </li>
    <li dir="RTL">
        الهندسة والآليات: بإشراف <a href="http://www.syr-res.com/user/43.html" target="_blank">محمد أبو موسى</a>.
    </li>
    <li dir="RTL">
        الفيزياء: بإشراف <a href="http://www.syr-res.com/user/35.html">باسم عاشور</a>.
    </li>
    <li dir="RTL">
        علم الفلك: <a href="http://www.syr-res.com/user/35.html">باسم عاشور</a>.
    </li>
    <li dir="RTL">
        الكيمياء والصيدلة: بإشراف <a href="http://www.syr-res.com/user/182.html" target="_blank">مادونا باشورة</a>.
    </li>
    <li dir="RTL">
الطبيعة وعلم البيئة: بإشراف <a href="http://www.syr-res.com/user/189.html" target="_blank">فاتن ابراهيم</a> و        <a href="http://www.syr-res.com/user/152.html" target="_blank">ميشيل بطيخ</a>.
    </li>
    <li dir="RTL">
        الفن والتراث: بإشراف <a href="http://www.syr-res.com/user/331.html" target="_blank">مي سليمان</a>.
    </li>
    <li dir="RTL">
        التاريخ: بإشراف <a href="http://www.syr-res.com/user/192.html">عامر صالح</a>.
    </li>
    <li dir="RTL">
        الفلسفة: بإدارة <a href="http://www.syr-res.com/user/192.html" target="_blank">عامر صالح</a>.
    </li>
    <li dir="RTL">
        العمارة: بإشراف <a href="http://www.syr-res.com/user/126.html" target="_blank">جورج كفا</a>.
    </li>
    <li dir="RTL">
        علم النفس: بإشراف <a href="http://www.syr-res.com/user/411.html" target="_blank">سمير السالك</a>.
    </li>
    <li dir="RTL">
        الاقتصاد: بإشراف <a href="http://www.syr-res.com/user/7.html" target="_blank">سليمان الرستم</a>.
    </li>
    <li dir="RTL">
        المعلوماتية والإنترنيت: بإشراف <a href="http://www.syr-res.com/user/7.html" target="_blank">سليمان الرستم</a>.
    </li>
    <li dir="RTL">
        الرياضيات: بإشراف <a href="http://www.syr-res.com/user/7.html" target="_blank">سليمان الرستم</a>.
    </li>
    <li dir="RTL">
        الموسيقى: بإشراف <a href="http://www.syr-res.com/user/18.html">ثابت عزاوي</a>.
    </li>
    <li dir="RTL">
        التوعية الجنسية: بإشراف <a href="http://www.syr-res.com/user/18.html">ثابت عزاوي</a>.
    </li>
</ul>
<p dir="RTL">
    الفرق الفنية وفرق الدعم:
</p>
<ul>
    <li dir="RTL">
التصميم: بإشراف <a href="http://www.syr-res.com/user/13.html" target="_blank">ممدوح سكر</a> و        <a href="http://www.syr-res.com/user/37.html">عمرو حسناتو</a>. أما مهمتها فهي تصميم الصور العلمية التوضيحية إضافة إلى الأعمال الفنية الخاصة بالمبادرة.
    </li>
    <li dir="RTL">
        الملتيميديا: بإشراف <a href="http://www.syr-res.com/user/278.html" target="_blank">راما سمكري</a> ومهمتها تنسيق الفيديوهات والعمل على القناة الخاصة بـ
        "الباحثون" على اليوتيوب، بالإضافة إلى نشر المبادرة على كافة الأصعدة الإعلامية.
    </li>
    <li dir="RTL">
        الدبلجة والتسجيل الصوتي: بإشراف <a href="http://www.syr-res.com/user/5.html" target="_blank">طارق أبو عبدالله</a>. تعمل هذه المجموعة على دبلجة
        الفيديوهات والأفلام العلمية والوثائقية وتسجيل المقالات صوتياً.
    </li>
    <li dir="RTL">
        التسويق: بإشراف <a href="http://www.syr-res.com/user/181.html" target="_blank">الوليد كردية</a>. يتجلى عملها في التخطيط الاستراتيجي ووضع الرؤية
        المناسبة لأهداف المبادرة القريبة والبعيدة. ويضم ضمنه الفرق المسؤولة عن مواقع التواصل الاجتماعي (تويتر، انستغرام، لينكد إن).
    </li>
    <li dir="RTL">
        تطوير الموقع الإلكتروني: بإشراف <a href="http://www.syr-res.com/user/1.html" target="_blank">عمر الشاكر</a>
    </li>
    <li dir="RTL">
        فريق المكتب الإعلامي: بإشراف <a href="http://www.syr-res.com/user/2.html" target="_blank">أحمد حسـن</a>.
    </li>
</ul>
				
					
		
				<p>
<a name=website class='blue_title'>الموقع الألكتروني</a><br />
صمم من قبل <a href="/web_team.php">فريق مصممي ومبرمجي المبادرة</a>. أطلق في شهر كانون الأول عام 2013.<br />
<br />
</p>




    <strong>- أهداف المبادرة:</strong>
</p>
<p dir="RTL">· على الصعيد العالمي:</p>
<ul dir="rtl">
	<li dir="rtl">
	<p dir="RTL">التعاون والتنسيق مع الجهات العلمية والأكاديمية العالمية لتأمين 
	المواد العلمية والأبحاث والأخبار والمقالات العلمية.</p></li>
</ul>
<p dir="RTL">
    · على الصعيدين المحلي والعربي:
</p>
<ul dir="rtl">
	<li dir="rtl">
	<p dir="RTL">&nbsp;العمل على نشر الأبحاث والمقالات العلمية العالمية باللغة العربية وتقديمها للقارئ العربي.
	</p></li>
	<li dir="rtl">
	<p dir="RTL">&nbsp;نشر ثقافة العلم والبحث العلمي والتوعية بالمواضيع المتعلقة بذلك في المجتمعات العربية.
	</p></li>
	<li dir="rtl">
	<p dir="RTL">&nbsp;التعاون مع الجهات العلمية والأكاديمية العربية لتنسيق الجهود وتطوير العمل لتحقيق الأهداف.
	</p></li>
	<li dir="rtl">
	<p dir="RTL">&nbsp;إنشاء قناة علمية ناطقة باللغة العربية. </p></li>
	<li dir="rtl">
	<p dir="RTL">&nbsp;نشر الأبحاث والدراسات المعدة من قبل الأفراد والمؤسسات العلمية العربية والسورية.
	</p></li>
	<li dir="rtl">
	<p dir="RTL">&nbsp;تشجيع البحث العلمي ودعمه وتمويله إن أمكن. </p></li>
	<li dir="rtl">
	<p dir="RTL">&nbsp;دعم الطلاب العرب والسوريين لإكمال دراستهم في الجامعات العالمية.
	</p></li>
</ul>
<p dir="RTL">
    <strong>- شعار المبادرة "العلم هو الحل":</strong>
</p>
<p dir="RTL">
    يختلف الناس بشكل كبير في الأمور الدينية والسياسية والتوجهات الفكرية اليومية، وتبقى هذه الأفكار جميعها قيد الجدال. ولكن عندما يختلف الناس في أمر علمي فإنهم
    يركنون إلى القواعد الأساسية للعلم والمنطق منتقلين من بديهية إلى مسلّمة إلى فرضية فنظرية ليحسموا خلافهم باتفاق وحل.
</p>
<p dir="RTL">
    <strong>- يؤمنون بنا، علماء يدعمون المبادرة:</strong>
</p>
<p dir="RTL">
    يتلقى فريق “الباحثون السوريون” العديد من رسائل الدعم المحلية من الطلاب والأكاديميين السوريين الذين يشاركنوهم أهدافهم وتطلعاتهم، إلا أن جهود الفريق كانت
    سبباً لتلقيهم إلى جانب ذلك مجموعة من رسائل الدعم من مجموعة من العلماء والباحثين والأكاديميين حول العالم:
</p>
<p dir="RTL">
    - جون غوردن، الحائز على جائزة نوبل للطب عام 2012.
</p>
<p dir="RTL">
    - فينكاترامان راماكريشنان، الحائز على جائزة نوبل للكيمياء عام 2009.
</p>
<p dir="RTL">
    - جيم الخليلي، بروفيسور الفيزياء النظرية في جامعة سورّيه.
</p>
<p dir="RTL">
    - كارل هينريك هيلدن، بروفسور في البيولوجيا الجزيئية، جامعة أوبسالا.
</p>
<p dir="RTL">
    وقد حظيت المبادرة منذ انطلاقها بالعديد من اللقاءات الإعلامية على المستويات المحلية والإقليمية والعالمية، وخاصة بعد إطلاق موقعها الذي تجاوز خلال فترة قياسية
    مراكز أولى على مستوى المواقع العربية والعالمية.
</p>
<p dir="RTL">
    <strong>- قيم المبادرة:</strong>
</p>
<p dir="RTL">
    · المـنهـج العلمي: هو المنهج الذي يعتمد الحقائق العلمية والطرق المنطقية في أي نقاش، تحييد الاختلافات الدينية والسياسية في العمل العلمي.
</p>
<p dir="RTL">
    · العمل المشترك: يـتـعاون “الباحثون السوريون” مع جـمـيـع الـجهات والمبادرات العاملة في الـمـجال الـعـلـمي والأكـاديـمـي لـتـحـقـيـق الأهـداف المشتركة من
    خلال تنسيقية الصفحات العلمية العربية.
</p>
<p dir="RTL">
    · احترام الملكية: يـحـتـرم “الباحثون السوريون” حـقـوق الـمـلكية الفكرية لجميع المواد التي يـسـتـخدمونها لـتحقـيق أهـدافهم وذلك بالتحري عن المصادر الأصلية
    وذكرها والسعي للحصول على حقوق الترجمة والنشر.
</p>
<p dir="RTL">
    · المصداقية: يعمل “الباحثون السوريون” على تـحـري الدقة في نقل المعلومات لأخبار العلمية علمـيـاً ولـغـوياً مـن خـلال فريق من الأكاديميين المتخصصين في
    المجالات العلمية كافة.
</p>
<p dir="RTL">
    <img
        src="../images/about_pic.png" style="max-width: 600px; width: 100%"
    />
</p>

</main>
</div>
