<title>اتصل بنا</title>
<div class="container">
	<div id='contact-head'>
		<span style="font-size: 100pt" class="genericon genericon-mail"></span>
	</div>
	<div class='contact-us-portion'>
		<h3>لماذا ترغب بمراسلتنا؟</h3>
			<h4>
				شكرا لك على متابعتك واهتمامك بمراسلتنا، للحصول على أفضل النتائج، نرجو اختيار السبب ثم قراءة الملاحظات:
			</h4>
		</h3>
	</div>
	<div class='contact-us-portion'>
		<h3>أرغب بالانضمام لفريق "الباحثون السوريون"</h3>	
		<div class='contact-us-answer'>
			للوصول إلى أهدافنا، يمكننا الاستفادة دوماً من المزيد من الأيادي والعقول لتعمل معنا، يمكنك الانضمام للفريق باتباعك للخطوات الموجودة في هذا الرابط.
			<p><a target="_blank" href="https://docs.google.com/forms/d/1JFfYlS6vAQPlHApFXlJwxHTK9pi1JjDzY2SzTaAvz20/viewform?usp=send_form">استمارة الانضمام</a></p>
		</div>
	</div>
	<div class='contact-us-portion'>
		<h3>لدي سؤال</h3>	
		<div class='contact-us-answer'>
		يسعدنا دوماً المساعدة في الإجابة على الأسئلة التي يرسلها إلينا متابعونا، إذا كان لديك سؤال وترغب باستشارة الأخصائيين ضمن فريقنا أرجو منك قراءة الملاحظات التالية قبل إرسال سؤالك:
		<ul>
			<li>ابحث قبل أن تسأل، "الباحثون السوريون" لن يقوموا بالعمل عوضاً عنك، وإنما هدفهم مساعدتك في البحث وتوجيهك، لذلك فإن الرسائل التي تتضمن أسئلة مباشرة يمكن الوصول إليها بالبحث البسيط لن يتم التعامل معها.</li>
			<li> "الباحثون السوريون" وحرصاً على صحة المتابعين، لا يقومون بأية استشارات طبية عن طريق الإنترنت، تفادياً لأية أخطاء قد تحدث نتيجة عدم الفحص والمعاينة للحالات المرضية. ما يمكننا أن نقوم به هو إعطاء بعض النصائح الصحية التي تناسب الحالة، وتزويدك بمعلومات عن مرضك، ويبقى عليك دائماً أن تراجع الطبيب من أجل العلاج المناسب.</li>
			<li> بقدر ما يكون سؤالك محدداً، نستطيع تقديم الجواب المناسب له.</li>
			<li> في حال طلبك لسؤال اختصاصي، أرجو منك أن تذكر درجتك الأكاديمية أو أية تفاصيل تساعدنا على التعرف على درجة المعلومات التي ترغب بالحصول عليها.</li>
			<li>بعد قراءتك للملاحظات السابقة، يمكنك إرسال سؤالك إلى البريد الإلكتروني: <p>info<span class='at-coded'>[ at-coded ]</span>syr-res.com</p>وأن تكون الرسالة معنونة بـ "سؤال" أو ما يشير إلى ذلك وضوحاً.</li>
		</ul>
	</div>
	</div>
	<div class='contact-us-portion'>
		<h3>لدي ملاحظة - شكوى - اقتراح</h3>	
		<div class='contact-us-answer'>
		يسرنا دائماً أن نستقبل من متابعينا ملاحظاتهم حول ما نقوم بنشره وفقاً لما يلي:
		<p>
			- في حال كانت لديك أية ملاحظة أو شكوى أو اقتراح يتعلق بالمحتوى العلمي المقدم، الرجاء تقديمها مرفقة بالمصادر العلمية المناسبة كي يتم أخذها بعين الاعتبار. إن أي ملاحظة تتعلق بالمحتوى العلمي غير مرفقة بمصدر يبين التصحيح لن يكون لها الأولوية في التعامل.
			- في حال كانت لديك أية ملاحظة أو شكوى تتعلقان بالموقع الإلكتروني الخاص بنا أو التطبيق على الأجهزة ذات نظام الأندرويد، الرجاء إرفاق تفاصيل الخطأ أو الملاحظة لكي نتمكن من التعامل معها بشكل أفضل.

			يمكنك إرسال ملاحظاتك على البريد الإلكتروني: <p>info<span class='at-coded'>[ at-coded ]</span>syr-res.com</p>وأن تكون الرسالة معنونة بـ "ملاحظة أو شكوى" أو ما يشير إلى ذلك وضوحاً.
		</p>
		</div>
	</div>
	<div class='contact-us-portion'>
		<h3>أسباب أخرى</h3>	
		<div class='contact-us-answer'>
		يمكنك التوصل معنا على البريد الإلكتروني: <p>info<span class='at-coded'>[ at-coded ]</span>syr-res.com</p> لتحويل رسالتك للفريق المناسب.
		</div>
	</div>
	<script>
	$('.contact-us-portion h3').each(function(i ,e)
	{
		if(i == 0) return;
		$(this).click(function () { $(this).next().toggle('slow'); } );
	});
	$('.at-coded').each(function(i, el)
	{
		$(el).html('@');
	});
	</script>
</div>
