<title>تفاعلي</title>
<div class="container">			
	<img src="http://www.syr-res.com/images/interactive.jpg">
	<hr>
	<a href="2048.html"><img src="http://www.syr-res.com/images/2048_logo.jpg" class=game></a>
	<a href="MacroMicro"><img src="http://www.syr-res.com/images/macro_logo.jpg" class=game></a>
	<a href="4444.php"><img src="http://www.syr-res.com/images/2048_main_logo.jpg" class=game></a>
	<a href="/weight"><img src="http://www.syr-res.com/images/weight_logo.jpg" class=game></a>
	<a href="/BMI"><img src="http://www.syr-res.com/images/bmi_logo.jpg" class=game></a>
	<a href="/simon-quiz"><img src="http://www.syr-res.com/images/simno-quiz-logo.jpg" class=game></a>
	<a href="/food-quiz"><img src="http://www.syr-res.com/images/food-quiz-logo.jpg" class=game></a>
	<div style="clear:both"></div>
</div>