		<article>
			<div class="container">
		        <h1 id='article-title'></h1>
		        <h3 class="cat-name" id='cat-name-h3'></h3>
		        	<p style="text-align: justify">
		        		<img id='article-img' class="article-img" src=""/>
		        		<main id='article-html'></main>
				</p> 
				<div class="clearfix"></div>
				<hr>
				<div class="share-buttons-div">
					<div class="share-buttons-title">						
						<h3><span class="glyphicon glyphicon-share"></span> شارك </h3>
					</div><div class="share-buttons share-buttons-gplus">						
						<span class="share-genericon genericon-googleplus"></span>
					</div><div class="share-buttons share-buttons-fb">						
						<span class="share-genericon genericon-facebook"></span>
					</div><div class="share-buttons share-buttons-pin">						
						<span class="share-genericon genericon-pinterest"></span>
					</div><div class="share-buttons share-buttons-pocket">						
						<span class="share-genericon genericon-pocket"></span>
					</div><div class="share-buttons share-buttons-twitter">						
						<span class="share-genericon genericon-twitter"></span>
					</div>
				</div>
				<div class="share-buttons-div">
					<div class="share-buttons-title">						
						<h3><span class="glyphicon glyphicon-th-list"></span> تفاصيل</h3>
					</div><div class="details-buttons details-buttons-date">						
						<span class="glyphicon glyphicon-calendar"></span> 
						<span id='article-date'></span>
					</div><div class="details-buttons details-buttons-views">						
						<span class="glyphicon glyphicon-eye-open"></span> 
						<span id='article-views'></span>
					</div><div class="share-buttons details-buttons-original-post">						
						البوست
					</div>
				</div>
				<div class="signatures-buttons-div">
					<div class="signatures-buttons-title">						
						<h3><span class="glyphicon glyphicon-th-list"></span> المساهمون في الإعداد</h3>
					</div>	
					<span id='article-signatures'>
					</span>
				</div>
				<div class="clearfix"></div>
				<div id="comments-section">
					<hr>
					<div class="fb-comments" id='comments-fbml' data-baseurl="http://www.syr-res.com/" data-href="" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
					<div style="height: 100px"></div>
				</div>
			</div>
	</article>